<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Villains Show (<%= villain.id %>)</title>
</head>
<body>
    <h1>Movie Villains Show (<%= villain.id %>)</h1>
    <p>
        <%= villain.villain %>
        is from the movie:
        <%= villain.movie %>
        <a href="/movie-villains/<%= villain.id %>/edit">
            Edit this Villain
        </a>
    </p>
    <p>
        <a href="/movie-villains">
            Return to Movie Villains Index
        </a>
    </p>
</body>
</html>